body {
	color: #666666;
	background-color: #f9f8f6;
	font-family: Yu Gothic UI Semibold;
	margin: 0px;
}
#Right_rightContent{
		background-color: #407bb0;
	     border-radius: 10px; 
		box-shadow: rgba(5, 10, 80, 1) 5px 5px 8px;
		
		 border: solid 1px #000000;
                				
	         }
#Right_rightContent2{
		background-color: #89418c;
	     border-radius: 10px; 
		box-shadow: rgba(5, 10, 80, 1) 5px 5px 8px;
	
		 border: solid 1px #000000;
     }
	 #Right_rightContent3{
		background-color: #2bba2d;
	     border-radius: 10px; 
		box-shadow: rgba(5, 10, 80, 1) 5px 5px 8px;
		
		 border: solid 1px #000000;
     }
	 #Right_rightContent4{
		background-color: #42b3af;
	     border-radius: 10px; 
		box-shadow: rgba(5, 10, 80, 1) 5px 5px 8px;
		height: 220%;
		 border: solid 1px #000000;
     }
	 #Right_rightContent5{
		background-color: #b73535;
	     border-radius: 10px; 
		box-shadow: rgba(5, 10, 80, 1) 5px 5px 8px;
		
		 border: solid 1px #000000;
     }#Right_rightContent6{
		background-color: #7b4343;
	     border-radius: 10px; 
		box-shadow: rgba(5, 10, 80, 1) 5px 5px 8px;
		
		 border: solid 1px #000000;
     }
#fname{
	margin-top: 10px;
	margin-left: 10px;
	width: 350px;
	height: 40px;
	border: solid 3px #0d1787;
	padding-left: 10px;
	border-radius: 25px;
	background-color: #cfcfcf;
	color: #000000;
	font-size: 13px;
	font-family: Yu Gothic UI Semibold;
}
#post_input{
	margin-top: 10px;
	margin-left: 10px;
	height: 40px;
	width: 350px;
	padding-left: 10px;
	color: #000000;
	font-size: 13px;
	font-family: Yu Gothic UI Semibold;
	background-color: #f2f2f2;
	border: solid 2px #0d1787;
	border-radius: 50px;
}

#post_content{
	margin-top: 10px;
	margin-left: 10px;
	height: 110px;
	width: 1100px;	
	padding-left: 20px;
	padding-top: 10px;
	color: #000000;
	font-size: 13px;
	font-family: Yu Gothic UI Semibold;
	background-color: #f2f2f2;
	border: solid 2px #0d1787;
	border-radius: 30px;
}
#post_input:hover,#post_input:focus,#fname:hover,  #fname:focus, #post_content:hover, #post_content:focus, #post_submit:hover, #post_submit:focus{
	background-color: #ffffff;
	border: solid 1px #c6760f;
}
#post_submit:hover, #post_submit:focus{
	background-color: #ffffff;
	border: solid 10px #c6760f;
	height: 50px;
}
#post_submit{
	margin-top: 10px;
	height: 40px;
    color: #000000;
	font-size: 13px;
	font-family: Yu Gothic UI Semibold;
	background-color: #f2f2f2;
	border: solid 2px #0d1787;
	border-radius: 30px;
}
#tit{
	color: #ffffff;
	font-size: 29px;
	margin-top: 10px;
	text-decoration:underline;
	
}

				
 #seperator{
			  height: 5px;
			  background-color: #ffffff;			 
			  border: solid 1px #000000;
			  border-radius: 12px;
			 } 
#pagination{
	border: solid 3px #000000;
	height: 50px;
	margin: 20px;
	line-height: 50px;
	border-radius: 12px;
	background-color: #8f5690;
}
#page{
	border: solid 3px #000000;
	height: 30px;
	margin: 10px;
	padding: 10px;
	line-height: 30px;
	border-radius: 5px;
	color: #ffffff;
	background-color: #f906ff;
}
#page:hover,#page:focus{
	color: #000000;
	background-color: #8f5690;
	border: solid 1px #ffffff;
}
#pagecurrent
{
    border: solid 3px #000000;
	height: 30px;
		margin: 10px;
		padding: 10px;
	color: #000000;
	border-radius: 5px;
	background-color: #dad7da;
}
#pagecurrent:hover,#pagecurrent:focus{
	color: #000000;
	background-color: #40dab9;
	border: solid 1px #ffffff;
}